@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(min(2vmin, 24px));
}